@import "../theme";

.app-bar {
  background-color: black;
  height: 6rem;

  @include media-breakpoint-down(md) {
    height: min-content;
  }

  .links-container {
    justify-content: flex-end;

    .nav-link {
      color: white;
      margin: auto auto 0 2rem;
    }
  }
}
