@import "../theme";

.description {
  .explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }

  .try-catch-code {
    min-height: min-content;
    height: 30rem;
    width: 100%;

    @include media-breakpoint-down(sm) {
      height: 22rem;
    }
  }
}
