@import "../theme";

.timeline {
  display: block;

  .commitment {
    margin: 2rem;
    padding: 2rem;

    @include media-breakpoint-down(md) {
      margin: 0rem;
      margin-top: 1rem;
      padding: 1rem;
    }

    .list-group-item {
      border-color: transparent;
    }
  }
}
