.profile-card {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
        font-size: large;
        font-weight: bolder;
    }


    .image-container {
        margin: 2rem;
    }

    .link-container {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

}