@import "../theme";

.project-card {
  margin: 1rem;
  padding: 2.5rem;

  @include media-breakpoint-down(sm) {
    margin: 0rem;
    padding: 2rem 0.25rem;
  }

  .white {
    color: white;
  }

  .section {
    margin: 1rem 0;
    padding: 0;

    @include media-breakpoint-down(lg) {
      margin: 0.75rem 0;
    }
  }

  .details {
    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
    }
  }

  .job-badge {
    color: white;
    border: solid 0.25rem $custom-code-pink;
    border-radius: 2rem;
    font-size: 1rem;
    display: inline-block;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
  }
}
