@import "../theme";

.timeline-item {
  border-left: solid 0.5rem transparent;
  padding-bottom: 5rem;
  position: relative;

  @include media-breakpoint-down(lg) {
    border-width: 0.3rem;
  }

  &.left-border {
    border-left: solid 0.5rem $custom-code-pink;
  }

  .timeline-circle {
    transform: translate(-1.25rem, -1.25rem);
    position: absolute;
    border: solid 0.5rem $custom-code-pink;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background-color: black;
  }

  .timeline-headings {
    transform: translate(0, -1.75rem);
  }

  .timeline-description {
    margin-left: 2rem;

    @include media-breakpoint-down(lg) {
      margin-left: 1rem;
    }
  }
}
