@import "../variables";

.timeline-item {
  border-left: solid 0.5rem transparent;
  padding-bottom: 5rem;

  &.left-border {
    border-left: solid 0.5rem $custom-code-pink;
  }

  .timeline-header {
    transform: translate(-1.25rem, -1.25rem);
    display: flex;
    align-items: flex-start;

    .timeline-circle {
      border: solid 0.5rem $custom-code-pink;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      background-color: black;
    }

    .timeline-headings {
      padding-left: 2rem;
      transform: translate(0, -0.75rem);
    }
  }
  .timeline-description {
    margin-left: 3rem;
  }
}
