.careersocius-project {

    .header {
        margin-bottom: 3rem;
    }

    .project-description{
        margin: 2rem;
    }

    .project-button-container {
        display: flex;
        justify-content: flex-end;
    }

    .center-header-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;

        
    }

    .built-header {
        font-size: 3rem;
    }

}