@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: black;
  color: white;
  font-family: $custom-body-font;
  font-size: 1.3rem;
}

.active {
  color: $custom-code-pink;
}

.btn-primary {
  background-color: $custom-code-pink;
  border: none;
}

.navbar {
  font-family: $custom-header-font;
}

.card {
  background-color: $custom-grey-pink;
  border-radius: 1.5rem;
  padding: 1rem 0;
}

.nav .nav-tabs .nav-item .nav-link {
  background-color: $custom-grey-pink;
}

strong {
  color: $custom-code-pink;
}
