@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";
@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: black;
  color: white;
  font-family: $custom-body-font;
  font-size: 1.2rem;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.active {
  color: $custom-code-pink;
}

.btn-primary {
  background-color: $custom-code-pink;
  border: none;
  &:hover {
    background-color: white;
    color: $custom-grey-pink;
  }
  &:focus {
    background-color: $custom-code-pink;
    border: none;
    box-shadow: pink;
  }
  &:focus {
    background-color: $custom-code-pink;
    border: none;
    box-shadow: none;
  }
}

.navbar {
  font-family: $custom-header-font;
}

.card {
  background-color: $custom-grey-pink;
  border-radius: 1.5rem;
}

.list-group {
  background-color: transparent;
  color: white;
  border-color: white;
}

.list-group-item {
  background-color: transparent;
  color: white;
  border-color: white;
}

.badge {
  border-radius: 3rem;
  margin-right: 0.5rem;
}

.title {
  color: $custom-code-pink;
  font-size: 2rem;
}

.small-title {
  font-size: 1.5rem;
}

.container-margin {
  margin: 8rem auto;
  @include media-breakpoint-down(sm) {
    margin: 4rem auto;
  }
}

.content-margin {
  margin: 4rem;

  @include media-breakpoint-down(sm) {
    margin: 2.5rem;
  }
}

strong {
  color: $custom-code-pink;
}

a {
  &:hover {
    color: white;
  }
}
