@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu+Mono&display=swap");

$custom-body-font: "Open Sans";
$custom-mono-font: "Ubuntu Mono";
$custom-header-font: "Julius Sans One";

$custom-code-pink: #e3118f;
$custom-grey-pink: #2b292a;

$font-family-base: $custom-body-font;
$headings-font-family: $custom-body-font;

$font-family-monospace: $custom-mono-font;
$font-family-code: $custom-mono-font;
$primary: $custom-code-pink;
$link-color: $custom-code-pink;
$code-color: white;

$border-radius: 3rem;
